.container {
    padding: 0 2rem;
}

.main {
    /* min-height: 100vh; */
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2px 0;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: white;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.header {
    min-height: 36px;
    color: #fff;
    padding: 4px;
    vertical-align: middle;
    background: linear-gradient(to right, rgba(33, 41, 89, 1) 0%, rgba(33, 41, 89, 1) 11%, rgba(80, 114, 161, 1) 56%, rgba(117, 172, 219, 0.7) 92%, rgba(125, 185, 232, 0) 100%);
}

.headerOuter {
    min-height: 80px;
    padding: 8px;
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
    background-color: #C0C0C0;
}

.headerInner {
    min-height: 70px;
    padding: 8px;
    border-top: 2px solid #7B7B7B;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #7B7B7B;
    background-color: #C0C0C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    font-family: 'Press Start 2P';
    background-color: #222;
    color: #eaeaea;
    border: 0;
    padding: 10px;
    font-size: 18px;
    height: 80%;
    cursor: pointer;
}

.timer {
    font-family: 'Digital Dismay', sans-serif;
    background-color: #222;
    color: red;
    border: 0;
    padding: 4px;
    font-size: 32px;
    /* height: 100%; */
}

.actionButtons {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}

.score {
    font-family: 'Press Start 2P';
}

.table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-color: grey;
    background-color: #dcdcdc;
}

.tileButton {
    font-family: 'Press Start 2P';
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: 0;
    font-size: 1.2rem;
    font-family: 'Press Start 2P';
    cursor: pointer;
}

.shareButton {
    background-color: #009A76;
    border: 0;
    padding: 0.8rem 2rem;
    font-size: 1.25rem;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    margin-top: '0.5rem';
}